.fw-iconbox {
	padding: 30px 0;
}
.fw-iconbox .fw-iconbox-title h3 {
	margin-top: 0;
	font-size: 23px;
	font-weight: bold;
}
.fw-iconbox .fw-iconbox-text {
	padding-bottom: 10px;
}
.fw-iconbox .fw-iconbox-text p:last-child {
	margin-bottom: 0;
}
/* Icon box style 1 */
.fw-iconbox-1 {
	text-align: center;
}
.fw-iconbox-1 .fw-iconbox-image {
	width: 56px;
	font-size: 28px;
	line-height: 28px;
	margin-right: auto;
	margin-left: auto;
	color: #5bcc92;
	border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-image img {
	border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-title h3 {
	margin-top: 0.6em;
}
.fw-iconbox-1.bg-on .fw-iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image {
	border-radius: 50%;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image img {
	border-radius: 50%;
}
/* Icon box style 2 */
.fw-iconbox-2 {
	text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image {
	float: left;
	width: 28px;
	font-size: 28px;
	line-height: 28px;
	color: #5bcc92;
	border-radius: 5px;
	text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image img {
	border-radius: 5px;
}
.fw-iconbox-2 .fw-iconbox-aside {
	margin-left: 43px;
}
.fw-iconbox-2.bg-on .fw-iconbox-title h3,
.fw-iconbox-2.fw-iconbox-image-type .fw-iconbox-title h3 {
	margin-top: 14px;
}
.fw-iconbox-2.bg-on .fw-iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
	text-align: center;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image {
	border-radius: 50%;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image img {
	border-radius: 50%;
}
/* Icon box style 3 */
.fw-iconbox-3 {
	text-align: left;
}
.fw-iconbox-3 .fw-iconbox-image {
	float: left;
	width: 56px;
	font-size: 28px;
	color: #5bcc92;
	border-radius: 5px;
	line-height: 28px;
}
.fw-iconbox-3 .fw-iconbox-image img {
	border-radius: 5px;
}
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-image {
	margin-right: 15px;
}
.fw-iconbox-3 .fw-iconbox-aside {
	display: inline;
}
.fw-iconbox-3.bg-on .fw-iconbox-title h3,
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-title h3 {
	margin-top: 14px;
}
.fw-iconbox-3.bg-on .fw-iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
	text-align: center;
	margin-right: 15px;
}
.fw-iconbox-3.fw-icon-right .fw-iconbox-image {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.fw-iconbox-3 .fw-iconbox-text {
	clear: both;
	padding-top: 10px;
}
.fw-iconbox-3.icon-circle .fw-iconbox-image {
	border-radius: 50%;
}
.fw-iconbox-3.icon-circle .fw-iconbox-image img {
	border-radius: 50%;
}