.fw-builder-templates-types > .fw-builder-templates-type-section > .fw-builder-templates-type-content .load-template-title {
	margin-top: 0;
}
.fw-option-type-page-builder .builder-item .fw-shortcode-section-save {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px 0 0;
}